<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instructor of instructors$ | async">
      <td style="vertical-align:middle">{{instructor.name}}</td>
      <td style="vertical-align:middle">{{instructor.email}}</td>
      <td style="vertical-align:middle">{{instructor.age}}</td>
      <td class="text-center">
          <button class="btn btn-danger btn-sm" (click)="deleteInstructor(instructor.id)">
              Delete
          </button>
          <button class="btn btn-warning btn-sm"
              [routerLink]="['/form', 'edit', instructor.id]">
              Edit
          </button>
      </td>
  </tr>
  </tbody>

</table>
